html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #2c3e50;
 background: #e6e0f8;;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;

}

header {
    background: #2c3e50;
    color: #fff;
    padding: 15px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 20px;
    color: #f39c12 ;
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;

}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    color: #f39c12;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background: #d8cbed;
    text-align: left;
    border-bottom: 2px solid #f39c12;
}


.hero-text {
    max-width: 500px;
    margin: 10px 30px 10px 20px;
    text-align: left;

}

.hero img {
    max-width: 350px;
    width: 100%;
    height: auto;
    margin: 20px 20px 20px 20px;
    border-radius: 0.5%;
    border: 4px solid #f39c12;
}

.hero-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:  #2c3e50;

}
.hero-text p {
    color: #f39c12;
}

.about {
    padding: 60px 20px;
    text-align: center;
    background:  #e6e0f8;
}

.about h2 {
    color: #f39c12;
    margin-bottom: 10px;
}

.about p {
    max-width: 600px;
    margin: 0 auto;
    color: #2c3e50; 

}

.portfolio {
    padding: 60px 20px;
    background: #d8cbed;
    text-align: center;
}
.portfolio h2 {
    color: #f39c12;
    margin-bottom: 20px;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.project {
    background: #e6e0f8;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #c1b2e0;
    transition: transform o.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact {
    padding: 60px 20px;
    text-align: center;
    background: #e6e0f8;
}

.contact h2 {
    color: #f39c12;
    margin-bottom: 10px;
}
.contact p {
    color: #2c3e50;
    margin: 5px 0;
}

.contact a {
    color: #f39c12;
    
}
.contact a:hover {
    color: #2c3e50;
}

footer {
    background: #d8cbed;
    color: #2c3e50;
    text-align: center;
    padding: 15px 20px;
    font: 10px;
}

footer .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
footer .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border-radius: 50%;
    background-color: #fff;
    color: #2c3e50;
    font-size: 1.8rem;
    transition: transform 0.3s, background-color 0.3s;
}
footer .social-icons a:hover {
    transform: translateY(-4px);
    background-color: #f39c12;
    color: #fff;
}

